name: 'myapp'
services:

  mysql57:
    # image: mysql:5.7
    image: biarms/mysql:5.7  # mysql5.7 for arm64
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./mysql/conf/my.cnf:/etc/mysql/conf.d/my.cnf
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: Asia/Shanghai
    ports:
      - 3306:3306
    networks:
      - dnmp_network
    restart: always

  # phpmyadmin:
  #   image: phpmyadmin:latest
  #   ports:
  #     - 3307:80
  #   networks:
  #     - dnmp_network
  #   restart: always
  #   environment:
  #     PMA_HOST: mysql57

  redis62:
    image: redis:6.2
    # ports:
    #   - 6380:6379
    networks:
      - dnmp_network
    volumes:
      - ./redis/data/:/data/
      - ./redis/conf/redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf --requirepass ${REDIS_HOST_PASSWORD}
    restart: always

  redisinsight:
    image: redis/redisinsight:latest
    ports:
      - 5540:5540
    networks:
      - dnmp_network
    environment:
      RI_REDIS_HOST: redis62
      RI_REDIS_PASSWORD: 123223JAhdA1@myapp

  php81:
    build:
      context: ./php81
      dockerfile: Dockerfile
    volumes:
      - ./www:/www
      - ./php81/php/conf.d/docker-fpm.ini:/usr/local/etc/php/conf.d/docker-fpm.ini
      - ./php81/php/conf.d/docker-php-ext-opcache.ini:/usr/local/etc/php/conf.d/docker-php-ext-opcache.ini
      - ./php81/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf
    links:
      - mysql57
    networks:
      - dnmp_network
    restart: always
    pid: "host"

  # php74:
  #   build:
  #     context: ./php74
  #     dockerfile: Dockerfile
  #   volumes:
  #     - ./www:/www
  #     - ./php74/config/php.ini:/usr/local/etc/php/php.ini
  #   links:
  #     - mysql57
  #   networks:
  #     - dnmp_network
  #   restart: always
  #   pid: "host"

  nginx:
    image: nginx
    networks:
      - dnmp_network
    ports:
      - "80:80"
      - "8000:8000"
    volumes:
      - ./www/:/www
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    depends_on:
      - php81
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"


  # es:
  #   image: elasticsearch:9.2.0
  #   container_name: es
  #   networks:
  #     - dnmp_network
  #   environment:
  #     - discovery.type=single-node
  #     - ES_JAVA_OPTS=-Xms512m -Xmx512m
  #     - xpack.security.enabled=false  # 开发环境禁用安全
  #     - ELASTIC_PASSWORD=espwd231p
  #   ports:
  #     - "9200:9200"
  #     - "9300:9300"
  #   volumes:
  #     - es_data:/usr/share/elasticsearch/data

  # kibana:
  #   image: docker.elastic.co/kibana/kibana:8.12.1
  #   container_name: kibana
  #   networks:
  #     - dnmp_network
  #   ports:
  #     - "5601:5601"
  #   environment:
  #     - ELASTICSEARCH_HOSTS=http://es:9200
  #     - ELASTICSEARCH_USERNAME=kibana_system
  #     - ELASTICSEARCH_PASSWORD=espwd231p
  #     - XPACK_FLEET_AGENTS_ELASTICSEARCH_HOSTS=["http://es:9200"]
  #     - XPACK_FLEET_AGENTS_KIBANA_HOST="http://kibana:5601"
  #     - XPACK_FLEET_SERVER_ENABLED=true
  #     - XPACK_FLEET_SERVER_HOST=0.0.0.0
  #     - XPACK_FLEET_SERVER_PORT=8220
  #   depends_on:
  #     - es

# volumes:
#   es_data:

networks:
  dnmp_network:
